* {
	margin: 0;
}
body {
	background: black;
	color: white;
	font-family: 'Century Gothic', monospace;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}
h1 {
	margin-top: 2rem;
}
button {
	margin: 2rem;
	border: none;
	padding: 0.7rem;
	border-radius: 2rem;
	transition: 0.3s;
	font-weight: 800;
}
button:hover {
	opacity: 0.7;
	transition: 0.3s;
}
img {
	width: 80vh;
	border-radius: 20px;
	transition: 0.3s;
}
img:hover {
	transition: 0.3s;
	opacity: 0.7;
	transform: translateY(5px);
}
.redText {
	color: red;
	font-weight: 800;
}